* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fdfbff;
}
.main {
  margin: 0 auto;
  max-width: 2400px;
}

nav {
  display: flex;
  height: 81px;
  justify-content: center;
}
.navbar__header {
  display: flex;
  background: #fff;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}
.dashboard__options {
  display: flex;
  justify-content: space-between;
  padding: 0px 144px;
  align-items: center;
  max-height: 67px;
  height: 67px;
  margin: 14px 0px;
  background: #fdfbff;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.06);

  /* background-color: red; */
}
.dashboard__options__wrapper {
  display: flex;
  justify-content: space-between;
}
.searchbar__container {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px 0px;
}
.form__entry::placeholder {
  color: #5a4282;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding: 7px 0px;
}
.searchbar {
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

.form__entry {
  outline: none;
  color: #5a4282;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  width: 359px;
  height: 39px;
  padding: 7px 18px;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.12);
  border: none;
}

.form__entry:active {
  border-color: none;
  border: none;
}
.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px 0px rgba(250, 248, 248, 0.597);
}
.additional__options {
  display: flex;
  align-items: center;
  gap: 34px;
}
.search__icon__div {
  display: flex;
  background: #fff;
  height: 100%;
  padding: 9px 10px;
  /* width: 100%; */
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.24);
}

.two__fixed__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 107px;
}
.first__container {
  display: flex;
  background-color: rgba(71, 46, 131, 0.875);
  height: calc(100vh - 228px);
  overflow-y: scroll;
}
.second__container {
  display: flex;
  background-color: yellow;
  height: calc(100vh - 228px);
  overflow-y: scroll;
}
